<html>
    <title>Öztürk Tekstil</title>
    <!-- En son derlenmiş ve minimize edilmiş CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Opsiyonel tema -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- En son derlenmiş ve minimize edilmiş JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <body>
        <div class="jumbotron">
  <h1>Merhaba Dünya!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Daha fazla öğrenin</a></p>
</div>

        <%- body %>
        
        <h1>Footer</h1>
    </body>
</html>